big-const/big-const
closures/closures
dont_care/dont_care
first-class-functions/first-class-functions
for-basic/for-basic
func/func
hello/hello
if/if
map-basic/map-basic
more-print/more-print
named-return/named-return
new/new
next-after/next-after
range/range
slice-basic/slice-basic
struct/struct
swap-func/swap-func
var/var
