big-const/big-const
closures/closures
conditional-switch/conditional-switch
dont_care/dont_care
exercise-cmplx-cbrt/exercise-cmplx-cbrt
exercise-fibonacci-closure/exercise-fibonacci-closure
exercise-pic-slice/exercise-pic-slice
exercise-sqrt/exercise-sqrt
exercise-word-count/exercise-word-count
first-class-functions/first-class-functions
for-basic/for-basic
func/func
hello/hello
if/if
map-basic/map-basic
more-print/more-print
named-return/named-return
new/new
next-after/next-after
range/range
saturday/saturday
slice-basic/slice-basic
struct/struct
swap-func/swap-func
switch/switch
var/var
